<mat-toolbar>
  <span [routerLink]="['inicio']">Parques y Decoraciones</span>
  <span class="example-spacer"></span>
  <div class="rutas">
    <p [routerLink]="['inicio']" (click)="locationreload()">Inicio</p>
    <p [routerLink]="['productos']">Productos</p>
    <p [routerLink]="['foro']">Foro</p>
    <p [routerLink]="['contactanos']">Contactanos</p>
    <mat-icon matBadge="15" matBadgeColor="warn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">home</mat-icon>
  </div>
</mat-toolbar>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>
